<%- include('includes/header', { title: 'New Poll' }) %>
<%- include('includes/navbar', { user: user }) %>

<main id="page-poll-creation" class="container py-5">
  <form>
    <% if (locals.poll) { %>
      <input type="hidden" id="poll-id" value="<%= poll.aid %>">
    <% } %>

    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8">
        <textarea id="poll-name" rows="1" class="display-4 border-secondary text-center" placeholder="Poll Name"><%= (locals.poll ? poll.name : '') %></textarea>
        <p id="poll-name-error" class="d-none text-danger text-right font-weight-bold"></p>

        <div class="row mt-5">
          <div class="col-sm">
            <div id="poll-error" class="d-none alert alert-danger text-center" role="alert"></div>

            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="allowNewOptions" <%= locals.poll ? (poll.allowNewOptions && 'checked') : 'checked' %>>
              <label class="custom-control-label" for="allowNewOptions">Allow registered users to create and vote on new options</label>
            </div>
          </div>

          <div class="col-sm-1">
            <hr class="d-sm-none my-4">
          </div>

          <div class="col-sm">
            <p class="h3 text-center">Options</p>

            <div id="poll-options-error" class="d-none alert alert-danger text-center" role="alert"></div>

            <ul class="list-unstyled" id="poll-options">
              <% if (locals.poll) { %>
                <% for (let option of poll.options) { %>
                  <li class="my-1">
                    <div class="row">
                      <div class="col">
                        <input type="text" readonly class="form-control-plaintext form-control-sm" value="<%= option.description %>" data-id="<%= option.aid %>">
                      </div>

                      <div class="col-auto">
                        <button type="button" class="btn btn-sm btn-danger js-remove-option">
                          <i class="far fa-trash-alt" aria-hidden="true"></i>
                          <span class="sr-only">Remove Option</span>
                        </button>
                      </div>
                    </div>
                  </li>
                <% } %>
              <% } %>
            </ul>

            <div class="d-none" id="new-option-model">
              <!-- Model cloned when creating a new option input -->
              <li class="my-1">
                <div class="row">
                  <div class="col">
                    <input type="text" class="form-control form-control-sm js-new-option">
                  </div>

                  <div class="col-auto">
                    <button type="button" class="btn btn-sm btn-danger js-remove-option">
                      <i class="far fa-trash-alt" aria-hidden="true"></i>
                      <span class="sr-only">Remove Option</span>
                    </button>
                  </div>
                </div>
              </li>
            </div>

            <button type="button" id="add-option" class="btn btn-sm btn-dark d-block ml-auto">
              <i class="fas fa-plus" aria-hidden="true"></i>
              Add Option
            </button>
          </div>
        </div>

        <button type="submit" class="btn btn-lg btn-warning d-block mx-auto mt-5 js-save">
          <i class="fas fa-check" aria-hidden="true"></i> Save Poll
        </button>

        <button type="button" class="btn btn-lg btn-warning d-none mx-auto mt-5 js-save" disabled>
          <i class="fas fa-spinner fa-pulse" aria-hidden="true"></i> Saving...
        </button>
      </div>
    </div>
  </form>
</main>

<%- include('includes/footer', { scripts: ['autoresize-textarea', 'poll-creation'] }) %>
